---
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;
---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <Navigation />
    
        <h1>Mon site Astro</h1>
        <h1>À propos de moi</h1>
        <h2>... et de mon nouveau site Astro !</h2>
      
        <p>Je suis en train de suivre le tutoriel d'introduction d'Astro. C'est la deuxième page de mon site web, et c'est la première que j'ai construite moi-même !</p>
      
        <p>Ce site se mettra à jour au fur et à mesure que je compléterai davantage le tutoriel, alors revenez régulièrement voir comment se déroule mon parcours !</p>
   
        <p>Here are a few facts about me:</p>
        <ul>
          <li>My name is {identity.firstName}.</li>
          <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
          {identity.hobbies.length >= 2 &&
            <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
          }
        </ul>
        <p>My skills are:</p>
        <ul>
          {skills.map((skill) => <li>{skill}</li>)}
        </ul>

        {happy && <p>I am happy to be learning Astro!</p>}

        {finished && <p>I finished this tutorial!</p>}
        
        {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}

    </body>
</html>
